

<h1>Treasure Hunter Rules</h1>
<a href='/'>Return to home page</a>

<div class='huntMasterInstructions'>
<h2>Huntmaster Instructions</h2>
<ol>
   <li> Create a user account.</li>
   <li> Create a new hunt event.</li>
   <li> Invite other existing users to the hunt (they will be sent a notification email).</li>
   <li> Map and prepare the hunt, using the interactive map.</li>
      <ul>
      <li>A hunt consists of several treasure chests.</li>
      <li>Enter each treasure chest location in the correct order.</li>
      <li>Provide two clues for each treasure chest:
        <ul>
          <li>location clue to lead users to the general treasure chest location</li>
          <li>treasure clue, and a single-word answer.</li>
        </ul>
        <li>Players will see the treasure clue only when they are within xxxx feet of the location.</li>
      <li>After provide the correct answer, players will automatically be given the next clue.</li>
    </ul>

   <li>On game day, sit back and let Treasurehunter run the hunt.
    <ul>
      <li>With text messages and via the web app, Treasurehunter will:</li>
      <ul>
        <li>provide hunters the location and treasure clues</li>
        <li>alert players of the game start and completion</li>
      </ul>
  <li>Track hunters' progress using the Leaderboard link.</li>
   <li>Reward the winner with glorious riches.</li>
 </ul>
</ol>
</div>

<div class='hunterInstructions'>
<h2>Hunter Instructions</h2>

<ol>
  <li>Create a user account.  Note that phone numbers are used to send treasure hunt text messages.</li>
  <li>Accept email invitation from the hunt master to join a hunt.</li>
  <li>For game day, make sure you have access to the web and your cell phone. </li>
  <li>There are two types of clues: </li>
   <ul>
      <li>a location clue to guide you to the general treasure area, and</li>
      <li>a treasure clue that requires a question</li>
    </ul>
   <li>At the specified start location and start time, you will receive your first location clue</li>
   <li>When you are within xxx of the treasure chest, you will receive a treasure clue via text message</li>
   <li>The single-word answer to the clue is submitted through the web app.
    <ul><li>After you answer the treasure clue correctly, you will be provided a clue for the next treasure chest location.</li>
    </ul>
   <li>The first person to find the final treasure chest wins the hunt prize</li>
   <li>Players will receive a text message indicating the game has ended, either with or without a victor.</li>
</ol>
</div>